{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block top %}

    <h1>{{ description }}</h1>
<p>-----------------------------------------------------------------</p>
    <p><a href="/">Main</a></p>
    <p><a href="/admin">ADMIN</a></p>
    <p><a href="/api">Api</a></p>
<p>-----------------------------------------------------------------</p>

{% endblock %}



{% block center %}

    <div class="paginator">
        {% if previous_page %}
            <a href="{{ previous_page }}" class="left"><---</a>
        {% endif %}
        {% if next_page %}
            <a href="{{ next_page }}" class="right">---></a>
        {% endif %}
    </div>

{% for prod in prods %}
    <div class="prods">
        <div class="imgProds">
            <a href="{{ prod.url }}">
                <img src="{{ prod.img }}">
            </a>
        </div>
        <div class="descriptionProds">
            <p>Name: {{ prod.name }}</p>
            <p>Price: {{ prod.sale_price }}</p>
            <p>Sale - {{ prod.sale }} % </p>
        </div>
        <p>-----------------------------------------------------------------</p>

    </div>
{% endfor %}
{% endblock %}

{% block right %}
<div class="commercial">
    <img src="/static/commercial/reklama1.jpg">
    <img src="/static/commercial/reklama2.jpg">
</div>

{% endblock %}